server:
  port: 8084
spring:
  application:
    name: gateway-service
  config:
    import: "optional:configserver:http://localhost:8008"


  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      # (1)
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/users/**
          filters:
            - RewritePath=/users/(?<path>.*), /$\{path}

        - id: task-service
          uri: lb://task-service
          predicates:
            - Path=/tasks/**
          filters:
            - RewritePath=/tasks/(?<path>.*), /$\{path}

        # (2)
        - id: openapi
          uri: http://localhost:${server.port}
          predicates:
            - Path=/v3/api-docs/**
          filters:
            - RewritePath=/v3/api-docs/(?<path>.*), /$\{path}/v3/api-docs

springdoc:
  swagger-ui:
    urls:
      # (3)
      - name: users
        url: /v3/api-docs/users
      - name: tasks
        url: /v3/api-docs/tasks




eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    serviceUrl:
      defaultZone: ${EUREKA_SERVER:http://localhost:8761/eureka}
  instance:
    preferIpAddress: true


